<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeiDream管理系统</title>
    <link href="~/Content/common.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/metisMenu.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!--header Start-->
    <div class="header">
        <!--logo Start-->
        <a class="logo">
            <img src="/images/DefaultUser.jpg" alt="BeiDream"/>BeiDream
        </a>
        <!--logo End-->
        <!--right Start-->
        <div class="right">
            <a class="menu">
                <i class="fa fa-bars"></i>
            </a>
            <div class="tips">
                <i class="fa fa-volume-up" style="float: left;"></i>
                <div>
                    <ul id="message" class="marquee">
                        <li>@L("WebSiteDescription")</li>
                    </ul>
                </div>
            </div>
            <ul id="menu">
                <li>
                    @Html.Action("UserMenuOrLoginLink", "Layout")
                </li>
                <li><a href="javascript:;"><i class="fa fa-gears"></i></a></li>
            </ul>
        </div>
        <!--right End-->
    </div>
    <!--header End-->
    <!--page Start-->
<div class="page">
<!--left Start-->
<div class="accordion">
<ul id="side-menu" class="metismenu">
    <li class="head">
        <i class="fa fa-navicon"></i>导航菜单
    </li>
    @Html.Action("Sidebar", "Layout", new { activeMenu = ViewBag.ActiveMenu })
</ul>
</div>
    <!--left End-->
    <!--right Start-->
    <div class="main">
        <div class="tabs">
            <div class="btn btnleft"><i class="fa fa-backward"></i></div>
            <div class="btn btnright"><i class="fa fa-forward"></i></div>
            <div id="tabconfig" class="btn" tabindex="0">
                <b>标签操作</b>&nbsp;<i class="fa fa-tags"></i>
                <div class="dropbox configbox" id="tab">
                    <div id="tabHome"><i class="fa fa-home"></i>回到首页
                    </div>
                    <div id="tabXother"><i class="fa fa-chevron-circle-right"></i>关闭其他标签
                    </div>
                    <div id="tabXall"><i class="fa fa-chevron-circle-right"></i>关闭全部标签
                    </div>
                </div>
            </div>
            @Html.Action("LanguageSelection", "Layout")
            <div class="tabsarea">
                <div class="tabbox">
                    <div class="tablist">
                        <a id="tab1" href="javascript:;" url="@Url.Action("Index","Home")" class="active"><span>首页</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contents">
            <iframe name="tabWin1" src="" frameborder="0" url="@Url.Action("Index","Home")" seamless></iframe>
        </div>
    </div>
    <!--right End-->
</div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.extend.js"></script>
    <script src="~/Scripts/jquery.tabs.js"></script>
    <script src="~/Scripts/layer.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</body>
</html>