@using Abp.Collections.Extensions
@model BeiDreamAbp.Presentation.Models.Home.SidebarViewModel

@foreach (var menuItem in Model.Menu.Items)
{
    <li>
        @if (menuItem.Items.IsNullOrEmpty())
        {
            <a class="menuItem" href="@menuItem.Url">
                @if (!string.IsNullOrWhiteSpace(menuItem.Icon))
                {
                    <i class="@menuItem.Icon"></i>
                }
                <span class="nav-label">@menuItem.DisplayName</span>
            </a>
        }
        else
        {
            <a href="@menuItem.Url">
                @if (!string.IsNullOrWhiteSpace(menuItem.Icon))
                {
                    <i class="@menuItem.Icon"></i>
                }
                <span class="nav-label">@menuItem.DisplayName</span>
                <span class="fa"><i class="fa fa-angle-left"></i></span>
            </a>
            <ul class="nav nav-second-level">
                @foreach (var subMenuItem in menuItem.Items)
                {
                    <li>
                        <a class="menuItem" href="@subMenuItem.Url">
                            @if (!string.IsNullOrWhiteSpace(subMenuItem.Icon))
                            {
                                <i class="@subMenuItem.Icon"></i>
                            }
                            @subMenuItem.DisplayName
                        </a>
                    </li>
                }
            </ul>
        }
</li>
}